.dropdown {
  @apply relative flex my-2 rounded border-2 border-primary-light cursor-pointer hover:border-primary transition-colors focus-within:border-primary;
}

.selector {
  @apply p-2 flex flex-grow flex-wrap gap-2 items-center justify-between;
}

.selector > .label {
  @apply text-gray-500;
}

.selectedOption {
  @apply flex bg-gray-200 p-1 rounded gap-2;
}
.selectedOption > button {
  @apply hover:bg-red-400 px-1 rounded;
}

.arrow {
  @apply self-end place-self-end transition-transform;
}

.rotate {
  @apply transform rotate-180;
}

.options {
  @apply absolute origin-top w-full rounded p-2 left-0 z-10 bg-secondary border-2 shadow border-primary-light scale-y-100 transition-all max-h-80 overflow-y-auto overflow-x-hidden;
}

.options > option {
  @apply transition-colors p-2 rounded m-1;
}

.options > .not-selected {
  @apply hover:bg-primary-light text-black;
}

.options > .selected {
  @apply bg-primary text-white;
}

.options > span {
  @apply text-gray-500 p-2 rounded;
}

.options > span > input {
  @apply border-2 border-primary p-0.5 text-primary w-1/2 rounded;
}

.hide {
  @apply scale-y-0 opacity-0;
}
