.about {
  @apply flex h-full items-stretch self-stretch;
}

.about .article {
  @apply grow text-xl flex flex-col;
}

.about img {
  @apply rounded max-w-xl self-center;
}

.about .article h1 {
  @apply text-center;
}

.about .logos {
  @apply flex gap-5 justify-evenly;
}

.about .logos img {
  @apply w-40;
}
