.LoaderVisible {
  @apply absolute top-0 left-0 w-full h-full bg-white flex flex-col items-center justify-center visible z-[9999];
}

.LoaderHidden {
  @apply hidden;
}

.LoaderVisible > img {
  @apply animate-spin;
}
