.team {
  @apply flex gap-1 items-center justify-center h-full flex-wrap overflow-auto;
}

.team a {
  @apply text-primary;
}

.team .card-body {
  @apply flex items-center p-8 gap-8;
}

.team img {
  @apply w-32 max-w-none h-auto rounded-full ring-4 ring-offset-4;
}
