.btn {
  @apply relative py-3 px-6 rounded hover:rounded-xl text-secondary focus:outline-none focus:ring focus:ring-primary-light font-bold transition-all;
}

.btn-sidebar {
  @apply hover:rounded-r-3xl;
}

.btn-primary {
  @apply bg-blue-600 hover:bg-blue-700;
}

.btn-secondary {
  @apply border-2 active:bg-primary active:text-secondary border-primary text-primary hover:bg-primary-light;
}

.btn-tooltip {
  @apply absolute transform w-auto p-2 left-20 top-5 min-w-max rounded-md shadow-md
    text-secondary bg-primary 
    text-xs font-bold 
    transition-all duration-100 scale-0 origin-left z-[9999];
}

.btn-danger {
  @apply bg-red-600;
}
