.customTable {
  @apply flex flex-col;
}

.row-table {
  @apply flex flex-col rounded overflow-hidden border-primary-light bg-gradient-to-b  border-2 p-2 m-2 transition-colors;
}

.row-table:hover {
  @apply border-primary shadow-lg from-white via-white to-primary-light;
}

.main-table,
.secondary-table {
  @apply flex items-center justify-center flex-wrap gap-6;
}

.main-table div span,
.secondary-table div span {
  @apply overflow-ellipsis overflow-hidden overflow-y-auto block max-w-md max-h-14 text-center;
}

.main-table div span:first-child,
.secondary-table div span:first-child {
  @apply bg-light border-primary border p-1 mr-1 rounded text-typography;
}

.main-table {
  @apply mb-6;
}

.secondary-table {
  @apply h-0 opacity-0 origin-top transition-all;
}

.shown {
  @apply h-48 opacity-100;
}

.btns {
  @apply flex gap-2;
}

.btns > button:first-child {
  @apply grow;
}
