.contribute {
  @apply flex  w-full h-full gap-4;
}

.contribute textarea {
  @apply p-2 my-2 border-2 border-primary-light hover:border-primary rounded;
}

.contribute .files-dropzone {
  @apply border-2 p-2 my-2 rounded border-primary cursor-pointer;
}

.contribute .files-dropzone-active {
  @apply border-2 p-2 my-2 rounded border-lime-500 cursor-pointer;
}
