.toast {
  @apply bg-secondary text-primary border-primary border-2 w-0 h-0 rounded p-2 absolute bottom-[-10%] left-1/2 transition-all translate-x-[-50%] ease-in-out;
}

.success {
  @apply border-green-800 bg-green-500 text-secondary;
}

.error {
  @apply border-red-800 bg-red-500 text-secondary;
}

.toastShown {
  @apply bottom-2 w-40 h-auto;
}
