.panel {
  @apply flex grow self-stretch;
}

.submission {
  @apply flex items-center justify-center gap-4 flex-wrap p-2 m-2 border-2 border-primary rounded;
}

.submission .entry {
  @apply flex flex-col items-center justify-center;
}
.submission .entry label {
  @apply font-bold border border-primary bg-slate-100 p-1 rounded;
}

.feedback {
  @apply border-2 border-primary p-2 rounded;
}

.panel .buttons {
  @apply flex gap-3;
}
