.leaflet {
  display: flex;
}

.leaflet > .article {
  @apply overflow-hidden;
}

.marker-content {
  @apply bg-white p-2 flex gap-3 rounded flex-col m-2 overflow-auto;
}

.marker-content span label {
  @apply font-bold;
}

.ratios input {
  @apply max-w-[6rem];
}

.leaflet-div-icon {
  background: none;
  border: none;
}
.leaflet-div-icon-red {
  background: none;
  border: none;
  filter: hue-rotate(130deg);
}
.leaflet-div-icon-yellow {
  background: none;
  border: none;
  filter: hue-rotate(90deg);
}
.leaflet-div-icon-green {
  background: none;
  border: none;
  filter: hue-rotate(250deg);
}
