.data {
  @apply flex h-full gap-4;
}

.data > .article:first-child {
  @apply flex-1 min-w-min;
}

.data > .article:nth-child(2) {
  @apply items-center justify-center;
}

.data > .article {
  @apply flex-grow justify-center;
}
